alias myip="curl https://ipinfo.io/json" # or /ip for plain-text ip
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"
alias serve='php -S localhost:8999 .' # serve current directory on port 8999

alias copath="pwd | pbcopy" 
