alias myip="curl https://ipinfo.io/json" # or /ip for plain-text ip
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"
alias serve='php -S 0.0.0.0:8999'  # serve current directory on port 8999
alias npkill='npx npkill'

alias copath="pwd | pbcopy"
alias cdp='f(){ cd  $(dirname $1); }; f'

function pipupgrade() {
    pip install -U `pip list --outdated | awk 'NR>2 {print $1}'`
}


function kill_docker() {
    ps ax|grep -i docker|egrep -iv 'grep|com.docker.vmnetd'|awk '{print $1}'|xargs kill
}

function list_directories_recursively_by_name() {
    find . -name $1 -type d -prune -exec du -csh {} +
}  

function delete_directories_recursively_by_name() {
    echo "The following directories will be deleted:"

    echo 
    list_directories_recursively_by_name $1
    echo

    read "answer?Are you sure you want to DELETE ALL DIRECTORIES LISTED ABOVE? (y/n) "

    if [[ $answer =~ ^[Yy]$ ]] 
    then 
        find . -name $1 -type d -prune -exec trash -F {} +
    fi
}
